body, header {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
  text-align: center;
}

#header {
  color: black;
    text-align: center;
    font-size: 4em;
    background-color: #7788df;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.15em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

#innerApp {
  text-align: center;
}

.container {
  margin-left: 5em;
  margin-right: 5em;
}

.langInfoContainer {
  box-sizing: border-box;
  box-shadow: 0.1em 0.2em 0.1em #ebebeb;
  border: 1px solid #dbdbdb;
  margin-bottom: 1em;
  border-radius: 0.5em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
}

.langInfoContainer > table {
  width: 70%;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  margin-bottom: 1em;
}


.langInfoContainer > table > tbody > tr > td {
  border: 1px solid #a0a6c6;
  background-color: #e0e1ff;
}

.langInfoContainer > table > tbody > tr > td:hover {
  background-color: #ffbc70;
  cursor: pointer;
}

.langInfoContainer > table > tbody >tr:nth-child(1) {
  font-weight: bold;
}

.langInfoContainer > ul {
  list-style-type: none;
  background-color: #e0e1ff;
  width: fit-content;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.langInfoContainer > ul:hover {
  background-color: #ffbc70;
  cursor: pointer;
}

.langInfoContainer > ul> li {
  border-bottom: 1px solid #a0a6c6;
  width: fit-content;
}

.langInfoContainer > p {
  border-bottom: 1px solid #a0a6c6;
  background-color: #e0e1ff;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.langInfoContainer > p:hover {
  background-color: #ffbc70;
  cursor: pointer;
}

.langInfoContainer > h3 {
  text-align: center;
}

.langInfoContainer > button, a {
  text-align: center;
  border: none;
  background-color: #e0e1ff;
  margin-left: 0.5em;
  cursor: pointer;
  box-shadow: 0.2em 0.2em 0.3em grey;
  border-radius: 0.3em;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 3em;
}

.langInfoContainer > button:hover, a:hover {
  text-align: center;
  border: none;
  background-color: #ffbc70;
  margin-left: 0.5em;
  cursor: pointer;
  box-shadow: 0.2em 0.2em 0.3em grey;
  border-radius: 0.3em;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 3em;
}

.langInfoContainer > a {
  text-decoration: none;
  margin-top: 5em;
  color: black;
}

.selected {
  background-color: #93a3f5 !important;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 25em;
}

.flexContainer > button {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  flex-basis: 30%;
  margin: 0.5em;
}

.flexContainer > button:hover {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  flex-basis: 30%;
  margin: 0.5em;
}

.center {
  text-align: center;
}

.hideDataSubber {
  display: none;
}

.fields {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #cacaca;

}

.langInfoContainer > select {
    border: none;
    background-color: whitesmoke;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 1em;
}

.langInfoContainer > select:focus-visible {
    outline: none;
}

.mainMenu > a {
  padding: 0.1em !important;
  box-shadow: 0.1em 0.1em 0.2em grey !important;
}

a.wikiLink {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 6em;
  height: fit-content;
  text-decoration: none;
  color: black;
}

.unmatchedList {
  text-align: center;
}

.unmatchedList > button {
    display: block;
    width: 50%;
    background-color: #e0e1ff;
    border: none;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

.unmatchedList > button:hover {
  background-color: #ffbc70;
  cursor: pointer;
}

.termSpan {
  padding-right: 0.5em;
  cursor: pointer;
}

.highlighted {
  text-decoration: underline;
}

